/* ESTILOS PERSONALIZADOS DO SITE PLANT TOUR */
html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
}
.bg-black {
  background-color: black;
}
.bg-light-gray {
  background-color: #e1e1e1;
}
.nav-tabs .nav-link.active {
  background-color: #e1e1e1;
}
.nav-tabs .nav-link {
  background-color: white;
  color: #444444;
}
td.active.day {
  background-color: #7c071a !important;
  background-image: none !important;
}
.custom-file-label::after {
  content: "Escolher arquivo";
}
li.list-group-item {
  background-color: #e1e1e1;
}
.btn-red {
  background-color: #7c071a;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  border-radius: 5px;
}
.btn-red-fix {
  width: 230px;
}
.btn-pink {
  background-color: #a71930;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  border-radius: 5px;
  box-shadow: 1px #444444;
}

.btn-black {
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-radius: 15px;
  box-shadow: 1px;
  border: solid 0.04em #707070;
}
.badge-active {
  background-color: #a71931;
  color: white;
}

@media (max-width: 1023px) {
  .desktop-nav {
    display: none;
  }
  .custom-nav {
    transition: 500ms ease;
    background: transparent;
  }
  .custom-nav.scrolled {
    background-image: url("img-pt/nav.svg");
    background-size: cover;
  }
  .nav-img {
    width: 100% 6;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .right-separator {
    display: none;
  }
  .bottom-separator {
    border-bottom: dotted 2px whitesmoke;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .img-desktop {
    display: none;
  }
  .desktop-footer {
    display: none;
  }
}
@media (min-width: 768px) {
  .img-mobile {
    display: none;
  }
  .mobile-footer {
    display: none;
  }
}
.bg-dark-gray {
  background-color: #444444;
}

@media (min-width: 1023px) {
  .mobile-nav {
    display: none;
  }
}
@media (min-width: 1024px) {
  .custom-nav {
    transition: 500ms ease;
    background: transparent;
  }
  .custom-nav.scrolled {
    background-image: url("img-pt/nav.svg");
    background-size: cover;
  }
}
.navbar-collapse {
  z-index: 1000;
}
.nav-img {
  width: 100% 6;
  margin-top: 0px;
}

.text-black {
  color: black;
}

.or-header-img {
  width: 100%;
  max-height: 180px;
}
.custom-toggler-button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.25rem;
}
.bg-gray {
  background-color: #808080;
}
.carousel-indicators li {
  width: auto;
}
.bottom-footer {
  margin-top: 200px;
}
.right-separator {
  border-right: dotted 2px whitesmoke;
  height: 85px;
  width: 3px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.top-separator {
  border-top: dotted 2.5px #707070;
  margin-top: 20px;
  margin-bottom: 20px;
}

#custom-container {
  background-image: url("img-pt/Caminho1709.png") !important ;
  background-size: cover;
}
.card-text {
  margin-top: 500px;
}
.no-line {
  border-bottom: none;
  padding: 0.5rem;
}
.close-custom {
  font-size: 0.8rem;
}
.container-custom {
  position: relative;
  text-align: left;
  color: white;
}
.centered {
  position: absolute;
  top: 20%;
  left: 37%;
  transform: translate(-50%, -50%);
}
/* @media (min-width: 1436px) {
  .text-header-vs {
    margin-left: 10em;
  }
} */
.img-icons {
  width: 95.36px;
  height: 95.36px;
}
.img-one-icon {
  width: 126.77px;
}
.no-margin {
  margin-bottom: 0;
}
