<div class="container mb-5">
    <div class="row mt-5">
        <div class="col-12 mb-3">
            <h2>
                <div class="text-white text-center">Agende aqui sua visita</div>
            </h2>
        </div>
        <div class="col-1"></div>
        <div class="col-12" id="formDivAgendamentoInicio">
            <div class="mx-auto text-center text-white">
                <h6>Escolha uma das opções abaixo e siga as instruções:</h6>
                <br/>
                <button
                        class="btn btn-outline btn-lg my-2 my-sm-0 btn-red mr-lg-2 btn-red-fix"
                        data-toggle="modal"
                        data-target="#modal-con"
                        type="submit"
                >
                    <h6 class="ml-3 mr-3">Sou Cliente</h6>
                </button>
                <button
                        class="btn btn-outline btn-lg my-2 my-sm-0 btn-red btn-red-fix"
                        type="submit"
                        id="btnSouConcessionaria"
                >
                    <h6 class="ml-3 mr-3">Sou Concessionário</h6>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL NÃO SOU CONCESSIONARIO -->
<div class="modal" tabindex="-1" role="dialog" id="modal-con">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content ml-5 mr-5">
            <div class="modal-header no-line">
                <button
                        type="button"
                        class="close close-custom"
                        data-dismiss="modal"
                        aria-label="Fechar"
                >
                    <div aria-hidden="true" class="small">FECHAR[&times;]</div>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center small">
                        Os agendamentos são feitos apenas por concessionários
                        representantes.
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 text-center">
                        <b>Não é um Concessionário?</b>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 text-center small">
                        Fale com seu Concessionário para solicitar o agendamento da visita à
                        fábrica da Case IH.
                    </div>
                </div>
                <div class="row mt-4 mb-2">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-outline btn-sm btn-red" type="submit">
                            <div class="ml-1 mr-1 mt-1 mb-1">
                                Encontre um Concessionário mais próximo de você
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- DIV COM OS PASSOS (IMPLEMENTAR ACTION COM BOTÃO ACIMA) -->
<div class="steps" id="formDivAgendamentoSteps" style="display: none;">
    <div class="col-md-12 mx-auto text-white text-center mb-2">
        Siga as etapas do formulário abaixo para concluir o seu agendamento
    </div>
    <div class="col-md-12 mx-auto text-white text-center mb-1">Etapas:</div>
    <div class="col-md-4 mx-auto text-center">
        <div id="divSteppers"></div>
    </div>
</div>
<!-- PRIMEIRO FORMULARIO IMPLEMENTAR ACTION COM PASSOS 1 PARA 2 -->
<div
        class="col-md-4 mx-auto mt-5"
        id="formDivAgendamentoIDDealer"
        style="display: none;"
>
    <div class="row">
        <div class="col-md-12 mx-auto text-white mb-2">
            Identificador do dealer(GDD):
        </div>
        <div class="col-md-12 mx-auto  mb-2">
            Insira apena números
        </div>
        <div class="col-md-12">
            <input
                    type="text"
                    class="form-control"
                    value="952-100016A"
                    id="inputGDDealerNumber"
            />
        </div>
        <div class="col-md-12 mx-auto text-center mt-3">
            <button
                    class="btn btn-outline btn-sm btn-red"
                    id="btnAbrirModalAgendamento"
                    type="button"
            >
                <div class="ml-1 mr-1 mt-1 mb-1">
                    Iniciar Agendamento
                </div>
            </button>
        </div>
    </div>
</div>
<!-- MODAL INICIAR AGENDAMENTO -->
<div
        class="modal fade"
        id="agendamentoModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="agendamentoModal"
        aria-hidden="true"
>
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content ml-5 mr-5">
            <div class="modal-header no-line">
                <button
                        type="button"
                        class="close close-custom"
                        data-dismiss="modal"
                        aria-label="Fechar"
                >
                    <div aria-hidden="true" class="small">FECHAR[&times;]</div>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center small">
                        <input
                                type="checkbox"
                                name="aceite_regulamento"
                                id="cboxAceiteRegras"
                        />
                        Concordo com as regras descritas no Regulamento
                    </div>
                </div>
                <div class="row mt-4 mb-2">
                    <div class="col-md-12 text-center">
                        <button
                                class="btn btn-outline btn-sm btn-red"
                                id="btnAceiteRegras"
                                type="button"
                        >
                            <div class="ml-1 mr-1 mt-1 mb-1">
                                Continuar agendamento
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SEGUNDO FORMULARIO IMPLEMENTAR ACTION PASSO 2 -->
<div
        class="col-md-5 mx-auto mt-5"
        id="formDivAgendamentoFabrica"
        style="display: none;"
>
    <div class="row">
        <div class="col-md-12 mx-auto text-white text-center mt-3 mb-3">
            Para qual fábrica você gostaria de agendar sua visita:
        </div>
        <div class="col-md-6 mx-auto cardFabrica fabrica-selecionada" codigo="1">
            <div class="card">
                <img
                        class="card-img-top"
                        src="img-pt/ativo-1.png"
                        alt="Imagem de capa do card"
                />
                <div class="card-body">
                    <h5 class="card-title">Piracicaba - SP</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6 mx-auto cardFabrica" codigo="2">
            <div class="card">
                <img
                        class="card-img-top"
                        src="img-pt/imagem-9.png"
                        alt="Imagem de capa do card"
                />
                <div class="card-body">
                    <h5 class="card-title">Sorocaba - SP</h5>
                </div>
            </div>
        </div>
        <div class="col-md-12 mx-auto text-white text-center mt-3 mb-3">
            <a href="" class="link-item mr-3 text-white">Etapa anterior</a>
            <button
                    class="btn btn-outline btn-sm btn-red"
                    id="btnEscolheuFabrica"
                    type="submit"
            >
                <div class="ml-1 mr-1 mt-1 mb-1">
                    Próxima Etapa
                </div>
            </button>
        </div>
    </div>
</div>
<!-- TERCEIRO FORMULARIO IMPLEMENTAR ACTION PASSO 3 -->
<div
        class="col-md-5 mx-auto mt-5 "
        id="formDivAgendamentoDataDisponivel"
        style="display: none;"
>
    <div class="row">
        <div class="col-md-12 mx-auto text-white text-center mt-3 mb-3">
            Confira as datas disponíveis de vista para esta fábrica (nome da fabrica):
        </div>

        <div id="datepicker" class="mx-auto"></div>
        <input type="hidden" id="datepicker_input"/>

        <div class="col-md-12 mx-auto text-white text-center mt-3 mb-3">
            <a href="" class="link-item mr-3 text-white">Etapa anterior</a>
            <button class="btn btn-outline btn-sm btn-red" type="submit">
                <div class="ml-1 mr-1 mt-1 mb-1" id="btnEscolheuData">
                    Próxima Etapa
                </div>
            </button>
        </div>
    </div>
</div>

<script>
    $("#datepicker").on("changeDate", function () {
        $("#datepicker_input").val($("#datepicker").datepicker("getFormattedDate"));
        $("#inputDataVisita2").val($("#datepicker").datepicker("getFormattedDate"));
    });
    $("#datepicker").datepicker({
        language: "pt-BR"
    });
</script>
<!-- QUARTO FORMULARIO IMPLEMENTAR ACTION PASSO 4 -->
<div
        class="col-md-4 mx-auto mt-5"
        id="formDivAgendamentoDadosAgendamento"
        style="display: none;"
>
    <div class="row">
        <div class="col-md-12 mx-auto text-white text-center mt-3 mb-3">
            Preencha seu dados como Concessionário:
        </div>
        <div class="col-md-12 mx-auto mt-2 text-white mb-2">
            Concessionário: (Digite o nome da concessionária em que você trabalha)
        </div>
        <div class="col-md-12">
            <input
                    type="text"
                    class="form-control"
                    id="inputNomeConcessionaria"
                    placeholder=""
            />
        </div>
        <div class="col-md-12 mx-auto mt-2 text-white mb-2">
            Telefone: Insira apenas números com DDD
        </div>
        <div class="col-md-12">
            <input
                    type="email"
                    class="form-control phone_with_ddd"
                    id="inputTelefoneConcessionaria"
                    placeholder="ex: (xx) 00000-0000"
            />
        </div>
        <div class="col-md-12 mx-auto mt-2 text-white mb-2">
            Estado:
        </div>
        <div class="col-md-12">
            <select id="inputEstado" value="SP" class="form-control"></select>
        </div>
        <div class="col-md-12 mx-auto mt-2 text-white mb-2">
            Cidade:
        </div>
        <div class="col-md-12">
            <select id="inputCidade" value="São Paulo" class="form-control"></select>
        </div>
        <script language="JavaScript" type="text/javascript" charset="utf-8">
            new dgCidadesEstados({
                cidade: document.getElementById("inputCidade"),
                estado: document.getElementById("inputEstado"),
                estadoVal: "SP",
                cidadeVal: "São Paulo"
            });
        </script>
        <div class="col-md-12 mx-auto mt-2 text-white mb-2">
            Data da visita: (Escolhida na data anterior)
        </div>
        <div class="col-md-12">
            <input
                    type="text"
                    readonly="readonly"
                    class="form-control"
                    id="inputDataVisita2"
                    value=""
            />
        </div>
        <div class="col-md-12 mx-auto mt-2 text-white mb-2">
            Tipo de visita: (selecione uma das opções abaixo)
        </div>
        <div class="col-md-12 bg-gray rounded mb-1">
            <div class="form-check">
                <input
                        class="form-check-input"
                        type="checkbox"
                        value="AG Leader (Grande Porte) - 8 a 10 visitantes"
                        id="cbox_1"
                />
                <label class="form-check-label text-white" for="defaultCheck1">
                    AG Leader (Grande Porte) - 8 a 10 visitantes
                </label>
            </div>
        </div>
        <div class="col-md-12 bg-gray mb-1">
            <div class="form-check">
                <input
                        class="form-check-input"
                        type="checkbox"
                        value="AG Leader (Grande Porte) - 11 a 25 visitantes"
                        id="cbox_2"
                        disabled
                />
                <label class="form-check-label text-white" for="defaultCheck2">
                    AG Leader (Grande Porte) - 11 a 25 visitantes
                </label>
            </div>
        </div>
        <div class="col-md-12 bg-gray mb-1">
            <div class="form-check">
                <input
                        class="form-check-input"
                        type="checkbox"
                        value="Strategic Customers (Medio Porte) - 11 a 25 visitantes"
                        id="cbox_3"
                />
                <label class="form-check-label text-white" for="defaultCheck3">
                    Strategic Customers (Medio Porte) - 11 a 25 visitantes
                </label>
            </div>
        </div>
        <div class="col-md-12 bg-gray mb-1">
            <div class="form-check">
                <input
                        class="form-check-input mt-3"
                        type="checkbox"
                        value="Mercados Importadores"
                        id="cb_4"
                />
                <label class="form-check-label text-white" for="defaultCheck4">
                    Mercados Importadores - Nº de vistantes
                    <input
                            type="input"
                            class="border rounded col-3 mt-2 mb-2"
                            id="inputMercadoImportadoresQtd"
                            placeholder=""
                    />
                </label>
            </div>
        </div>
        <div class="col-md-12 bg-gray mb-1">
            <div class="form-check">
                <input
                        class="form-check-input mt-3"
                        type="checkbox"
                        value="Argentina"
                        id="cb_5"
                />
                <label class="form-check-label text-white" for="defaultCheck5">
                    Argentina - Nº de vistantes
                    <input
                            type="input"
                            class="border rounded  col-3 mt-2 mb-2"
                            id="inputArgentinaQtd"
                            placeholder=""
                    />
                </label>
            </div>
        </div>
        <div class="col-md-12 mx-auto mt-2 text-white mb-2">
            Segmento: (escolha a cultura trabalhada pelos participantes)
        </div>
        <div class="col-md-12">
            <select class="form-control" id="selectSegmento">
                <option>Select padrão</option>
                <option>Opcao 1</option>
                <option>Opcao 2</option>
            </select>
        </div>
        <div class="col-md-12 mx-auto mt-2 text-white mb-2 ">
            <span>Dados do responsável pela visita:</span>
        </div>
        <div class="col-md-12 ml-2 mr-2 border rounded border-white">
            <div class="col-md-12 mx-auto mt-2 text-white mb-2">
                Nome:
            </div>
            <div class="col-md-12">
                <input type="text" class="form-control" id="inputNomeResponsavel"/>
            </div>
            <div class="col-md-12 mx-auto mt-2 text-white mb-2">
                Cargo:
            </div>
            <div class="col-md-12">
                <input type="text" class="form-control" id="inputCargoresponsavel"/>
            </div>
            <div class="col-md-12 mx-auto mt-2 text-white mb-2">
                Email:
            </div>
            <div class="col-md-12">
                <input type="email" class="form-control" id="inputEmailResponsavel"/>
            </div>
            <div class="col-md-12 mx-auto mt-2 text-white mb-2">
                Telefone Fixo:
            </div>
            <div class="col-md-12">
                <input
                        type="text"
                        class="form-control phone-with-ddd"
                        id="inputTelefoneFixoResponsavel"
                />
            </div>
            <div class="col-md-12 mx-auto mt-2 text-white mb-2">
                Telefone Celular:
            </div>
            <div class="col-md-12 mb-3">
                <input
                        type="text"
                        class="form-control phone-with-ddd"
                        id="inputTelefoneCelularResponsavel"
                />
            </div>
        </div>
        <div class="col-md-12 mx-auto text-white text-center mt-3 mb-3">
            <a href="" class="link-item mr-3 text-white">Etapa anterior</a>
            <button class="btn btn-outline btn-sm btn-red" type="submit" id="btnFinalizarVisita">
                <div class="ml-1 mr-1 mt-1 mb-1">
                    Próxima Etapa
                </div>
            </button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".date").mask("00/00/0000");
        $(".time").mask("00:00:00");
        $(".date_time").mask("00/00/0000 00:00:00");
        $(".cep").mask("00000-000");
        $(".phone").mask("0000-0000");
        $(".phone_with_ddd").mask("(00) 00000-0000");
        $(".phone_us").mask("(000) 000-0000");
        $(".mixed").mask("AAA 000-S0S");
        $(".cpf").mask("000.000.000-00", {reverse: true});
        $(".cnpj").mask("00.000.000/0000-00", {reverse: true});
        $(".money").mask("000.000.000.000.000,00", {reverse: true});
        $(".money2").mask("#.##0,00", {reverse: true});
        $(".ip_address").mask("0ZZ.0ZZ.0ZZ.0ZZ", {
            translation: {
                Z: {
                    pattern: /[0-9]/,
                    optional: true
                }
            }
        });
        $(".ip_address").mask("099.099.099.099");
        $(".percent").mask("##0,00%", {reverse: true});
        $(".clear-if-not-match").mask("00/00/0000", {clearIfNotMatch: true});
        $(".placeholder").mask("00/00/0000", {placeholder: "__/__/____"});
        $(".fallback").mask("00r00r0000", {
            translation: {
                r: {
                    pattern: /[\/]/,
                    fallback: "/"
                },
                placeholder: "__/__/____"
            }
        });
        $(".selectonfocus").mask("00/00/0000", {selectOnFocus: true});
    });
</script>
